<div class="maze">

    <!-- corner top-left -->
    <div class="corner"></div>

    <!-- wall top -->
    <div class="horizontal-wall-sections">
        <div class="horizontal-wall-section" *ngFor="let section of maze.getWallSections(maze.wall_top); index as i">
            <div *ngFor="let cell of section; index as j">
                <!--   <div class="horizontal-wall-cell" [ngStyle]="{ 'background-color': cell.currentChar != '|' ? 'white' : 'black'}"></div>-->
             <app-cell class="horizontal-wall-cell" [mazeCell]="cell"  [ngStyle]="{ 'background-color': cell.currentChar != '|' ? 'white' : 'black'}"></app-cell>
            </div>
        </div>
    </div>

    <!-- corner top-right -->
    <div class="corner"></div>

    <!-- wall left -->
    <div class="vectical-wall-sections">
        <div class="vectical-wall-section" *ngFor="let section of maze.getWallSections(maze.wall_left); index as i">
            <div *ngFor="let cell of section; index as j">
              <div class="vertical-wall-cell" [ngStyle]="{ 'background-color': cell.currentChar != '|' ? 'white' : 'black'}"><app-cell [mazeCell]="cell"></app-cell></div>
            </div>
        </div>
    </div>

    <!-- panels -->
    <div class="panel-containers">
        <div class="panel-container" *ngFor="let panel of maze.getInitialPanels(); index as i" [ngStyle]="{ 'order': i }" [attr.mazePanelId]="i">
            <app-panel [mazePanel]="panel" 
                       (onPanelDrag)="onPanelDrag($event)" 
                       (onPanelDrop)="onPanelDrop($event)"
                       (onPanelStartDragDrop)="onPanelStartDragDrop($event)"></app-panel>
        </div>
    </div>
    
    <!-- wall right -->
    <div class="vectical-wall-sections">
        <div class="vectical-wall-section" *ngFor="let section of maze.getWallSections(maze.wall_right); index as i">
            <div *ngFor="let cell of section; index as j">
                <div class="vertical-wall-cell" [ngStyle]="{ 'background-color': cell.currentChar != '|'? 'white' : 'black'}"><app-cell [mazeCell]="cell"></app-cell></div>
            </div>
        </div>
    </div>

    <!-- corner bottom-left -->
    <div class="corner"></div>

    <!-- wall bottom -->
    <div class="horizontal-wall-sections">
        <div class="horizontal-wall-section" *ngFor="let section of maze.getWallSections(maze.wall_bottom); index as i">
            <div *ngFor="let cell of section; index as j">
                <app-cell class="horizontal-wall-cell" [mazeCell]="cell"  [ngStyle]="{ 'background-color': cell.currentChar != '|' ? 'white' : 'black'}"></app-cell>
            </div>
        </div>
    </div>

    <!-- corner bottom-right -->
    <div class="corner"></div>
</div>