.maze{
  display: grid;
  grid-template-columns: 1fr 50fr 1fr; 
  grid-template-rows: 1fr 50fr 1fr;
  height: 500px; 
  width: 500px;
}

.corner{
  background-color: black;
}

.panel-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 2px;
  }

.panel-container {
  aspect-ratio: 1;
}

.horizontal-wall-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 1px;
  background-color: black;
}

.horizontal-wall-section {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
}

.vertical-wall-sections {
  display: grid;
  grid-template-columns: 1fr;
}

.vertical-wall-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.horizontal-wall-cell {
  aspect-ratio: 5.555555/1;
}
  
.vertical-wall-cell {
  aspect-ratio: 1/5.555555;
  //aspect-ratio: 1/1;
}