<!--<app-rocket #rocket class="rocket" [ngStyle]="{ 'left': gameState.getRocketLeft() + 'px', 'top' : gameState.getRocketTop() + 'px'}"></app-rocket>
-->
<app-rocket  class="rocket" id="rocket"></app-rocket>
<app-maze [maze]="gameState.maze"></app-maze>
