.panel-cells {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 0px;

    border: solid 2px black;

    //height: 100%;
    //width: 100%;
    //grid-auto-rows: 1fr;
    //aspect-ratio: 1; 
  }

.panel-cell {
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  aspect-ratio: 1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: row;
}