<div #panel class="panel-cells" 
  (mousedown)="onMouseDown($event)" 
  (mouseup)="onMouseUp($event)" 
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseUp($event)"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd($event)"
  (touchcancel)="onTouchEnd($event)"
  >
    <app-cell class="panel-cell" *ngFor="let cell of mazePanel.toArray()" [mazeCell]="cell">{{cell.currentChar}}</app-cell>
</div>
